
# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
*.launch

# Visual Studio Code
.vscode/*

# Miscellaneous
/.angular/cache
/coverage

# System files
.DS_Store